. filter=lfs diff=lfs merge=lfs -text
ghibili filter=lfs diff=lfs merge=lfs -text
inidial-d filter=lfs diff=lfs merge=lfs -text
ink filter=lfs diff=lfs merge=lfs -text
linuxmasterrace filter=lfs diff=lfs merge=lfs -text
view filter=lfs diff=lfs merge=lfs -text
